@model Product

<div class="card card-primary m-1 p-1">
    <div class="bg-faded p-1">
        <h4>
            <a href="" class="tooltip-test" title="Подробнее об этом продукте" data-bs-toggle="modal" data-bs-target="#ViewProductForm">@Model.ProductName</a> @* ссылка на вызов всплывающего окна с информацией о товаре и с кнопкой закрытия *@
            <span class="badge rounded-pill bg-primary text-white" style="float:right">
                <small>
                    @Model.ProductPrice.ToString("c")
                </small>
            </span>
        </h4>
    </div>
    <div class="card-text p-1">
        @Model.ProductDescription
    </div>
    <div class="m-3">
        <button class="btn btn-danger mx-2" style="float:right"> <i class="fa-solid fa-trash"></i> Удалить этот товар</button>
        <button class="btn btn-warning mx-2" style="float:right"> <i class="fa-solid fa-pen"></i> Редактировать этот товар</button>
    </div>
</div>
@await Html.PartialAsync("ViewProductForm", Model)