@model ProductsListViewModels



<div class="mx-1">
    <h4 class="card-text "> ТОВАРЫ </h4> @* добавить иконки к кнопкам во всех представлениях*@
    @* частично работает,но запутанно и с js  *@
    <button id="addProductClick" class="btn btn-primary mb-2" onclick="showInPopUp('@Url.Action("CreateProduct","Home",null,Context.Request.Scheme)','Новый Товар!!!')">Добавить новый товар</button> 
</div>
@* <div id="placeHolder"></div> *@
@foreach (var p in Model?.Products ?? Enumerable.Empty<Product>())
{
    <partial name="ProductSummary" model="p" />
}
<div page-model="@Model?.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>


@* <partial name="ProductForm" model="new Product()" /> *@

@await Html.PartialAsync("ProductForm", new Product())
 

